@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

body {
  min-height: 100vh;
  line-height: 1.6;
  background-color: #0e0e0e;
  color: white;
  font-family: 'Noto Sans';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
} */
